@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&display=swap');

// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 20px;

// Border radius
$global-radius: 5px;

// Transition
$global-transition: all .35s;


// *****************
// Typography
// *****************
$base-font-size: 20px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: 'Inter', sans-serif;
$base-line-height: 1.5;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Inter', sans-serif;

$font-size-h1:  36px;
$font-size-h2:  28px;
$font-size-h3:  24px;
$font-size-h4:  20px;
$font-size-h5:  18px;
$font-size-h6:  16px;

$heading-line-height: 1.3;
